{% extends 'base.html' %}

{% block content %}
    <h1>Locations List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Club</th>
                <th>Zipcode</th>
                <th>City</th>
                <th>Country</th>
                <th>Address</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Place ID</th>
                <th>Created At</th>
                <th>Edited At</th>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
            <tr>
                <td>{{ location.name }}</td>
                <td>{{ location.club }}</td>
                <td>{{ location.zipcode }}</td>
                <td>{{ location.city }}</td>
                <td>{{ location.country }}</td>
                <td>{{ location.adress }}</td>
                <td>{{ location.lat }}</td>
                <td>{{ location.lng }}</td>
                <td>{{ location.place_id }}</td>
                <td>{{ location.created_at }}</td>
                <td>{{ location.edited_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
