{% extends "base.html" %}

{% block content %}
<h2>My Profile</h2>

{% if user.profile_picture %}
    <img src="{{ user.profile_picture.url }}" alt="Profile Picture">
{% else %}
    <img src="{{ MEDIA_URL }}default.jpg" alt="Default Profile Picture">
{% endif %}

<p><strong>Username:</strong> {{ user.username }}</p>
<p><strong>Age:</strong> {{ user.age }}</p>

<div class="card-footer text-center text-muted">
    <a href="#">Edit</a> | <a href="#">Delete</a>
</div>

<h2>Search for Friends</h2>
<form method="get" action="">
    <input type="text" name="q" placeholder="Search by username" value="{% if query %}{{ query }}{% endif %}">
    <button type="submit" class="btn btn-primary">Search</button>
</form>

{% if users %}
    <h3>Results:</h3>
    <ul>
        {% for user in users %}
            <li>
                <strong>Username:</strong> {{ user.username }}<br>
                <strong>Age:</strong> {{ user.age }}<br>
                <a href="{% url 'user_profile' user.pk %}">{{ user.username }}</a><br>
            </li>
        {% endfor %}
    </ul>
    <h2>Search for Friends</h2>
    <form method="get" action="{% url 'myprofile' %}">
        <button type="submit" class="btn btn-primary">Reset Search</button>
    </form>
{% elif query %}
    <p>No users found matching "{{ query }}".</p>
{% endif %}

{% endblock content %}